* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
  background: #f5f4ef;
}

.navbar {
  background: #fffff8;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 200px; /* height of your footer */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: #fffff8;
}

.input, .textarea {
  background: #fffff8;
  color: #262626;
}

.input::placeholder, .textarea::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.file {
  height: 100%;
}

.file.is-boxed .file-cta {
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:transparent;
  border: 3px dashed #5e6d6f;
}

.file-label {
  width: 100%;
  text-align: center;
}

span.file-label {
  align-items: center;
  justify-content: center;
}

.toast-message {
  top: 0;
  position:absolute;
  background: rgba(0, 0, 0, 0.35);
  padding: 4px;
  border-radius: 5px;
}


.--show {
  opacity: 1;
  transition: 1s;
}

.--hide {
  opacity: 0;
  transition: 1s;
}

.hide {
  opacity: 0;
}

.--fly-fade-in-up {
  opacity: 1;
  top: -40px;
  transition: all 200ms ease;
}

.--fly-fade-out-down {
  opacity: 0;
  top: 0;
  transition: all 200ms ease;
}

.copy-color {
  cursor:pointer;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  padding-bottom: 20px;
}

.hex-square {
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  transition: 200ms ease-out;
  border-radius: .2rem;
}

.hex-square:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.35);
  transition: 200ms ease-in;
}

.hex-box {
  cursor: pointer;
}

.hex-color {
  color: #fffff8;
  opacity: 0.45;
}

.hex-box:hover > .hex-color {
  opacity: 1;
  transition: .5s;
  background: rgba(0,0,0, 0.35);
  width: 100%;
}

.hex-container .hex-box {
  border-right: 2px solid #FFF;
}

.hex-container .hex-box:first-child {
  border-radius: 1rem 0 0 1rem;
}

.hex-box:first-child:hover > .hex-color {
  opacity: 1;
  transition: .5s;
  background: rgba(0,0,0, 0.35);
  width: 100%;
  border-radius: 1rem 0 0 1rem;
}

.hex-container .hex-box:last-child {
  border-radius: 0 1rem 1rem 0;
  border-right: none;
}

.hex-box:last-child:hover > .hex-color {
  opacity: 1;
  transition: .5s;
  background: rgba(0,0,0, 0.35);
  width: 100%;
  border-radius: 0 1rem 1rem 0;
  border-right: none;
}

.hex-container .hex-box:only-child {
  border-radius: 1rem 1rem 1rem 1rem;
  border-right: none;
}

.hex-box:only-child:hover > .hex-color {
  opacity: 1;
  transition: .5s;
  background: rgba(0,0,0, 0.35);
  width: 100%;
  border-radius: 1rem 1rem 1rem 1rem;
  border-right: none;
}

.card {
  background-color: #fffff8;
}

.color-details {
  background: #fffff8;
  padding: 1rem;
}

.notification.notification {
  position: fixed;
  top: 70px;
  right: -270px;
  z-index: 32;
  max-width: 250px;
  transition: 200ms ease-in;
  transition-delay: .15s;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25)
}

.notification.slide-in {
  transform: translateX(-280px);
  transition: 200ms ease-out;
  transition-delay: .15s;
}

.column.is-centered {
  display: flex;
  justify-content: center;
}

.file.is-boxed {
  width: 500px;
  height: 500px;
}

.invisible {
  opacity: 0;
  transition: 600ms ease-out;
  transition-delay: .15s;
}

.visible {
  opacity: 1;
  transition: 600ms ease-out;
  transition-delay: .15s;
}

.progress::-webkit-progress-value {
  transition: width 0.5s ease;
}

.form-top-card {
  background: #fffff8;
  border-radius: 3px;
}

.fancy-bg {
  background: linear-gradient(-45deg, rgba(84, 51, 255, 0.7), rgb(32, 189, 255), rgba(165, 254, 203, 0.7));
}

.plus-button {
  border-radius: 10rem;
  font-size: 1.3rem;
  height: 3.0rem;
  width: 8rem;
  /*background: linear-gradient(-45deg, rgb(126, 100, 255), rgb(73, 195, 255), rgb(191, 255, 217));*/
  background: rgb(32, 189, 255);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  color: #FFF;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.plus-button i {
  padding: .15rem;
}

.plus-button span {
  padding: .15rem;
  text-indent: .5rem;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: .05rem;
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.cta-text {
  color: #FFF;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.color-picker {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  height: 36px;
  background: Transparent;
  border: none;
  padding: 0;
}

.big-checkbox {
  width: 100%;
  height: 30px;
}

.checkbox {
  /*display: grid;*/
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 1rem;
  color: #000;
}
.checkbox--disabled {
  color: #ccc;
}

.checkbox__control {
  display: inline-grid;
  width: 1.25em;
  height: 1.25em;
  border: 0.1em solid transparent;
}
.checkbox__control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.checkbox__input {
  display: grid;
  grid-template-areas: "checkbox";
}
.checkbox__input > * {
  grid-area: checkbox;
}
.checkbox__input input {
  opacity: 0;
  width: 1em;
  height: 1em;
}

.checkbox-overlay {
  background: #000;
  opacity: 0.0;
}
.checkbox__input input:checked + .checkbox-overlay {
  opacity: 0.25;
}

.checkbox__input input:focus + .checkbox__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}
.checkbox__input input:checked + .checkbox-overlay + .checkbox__control svg {
  transform: scale(1);
}
.checkbox__input input:disabled + .checkbox__control {
  color: #ccc;
}

.sp-replacer {
  width: 100% !important;
}

.is-hidden {
  display: none;
  opacity: 0;
}

.control-panel {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    transition: box-shadow 500ms, width 1s, height 1s;
    background: #3298dc;
    width: 55px;
    height: 40px;
    overflow: hidden;
    color: #FFF;
}

.control-panel:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
    transition: box-shadow 500ms;
}

.control-panel-active-rerender.control-panel-active-rerender {
  width: 300px;
  height: 450px;
  /*animation: control 800ms cubic-bezier(0.280, 0.840, 0.420, 1);*/
}

.control-panel-active.control-panel-active {
    width: 300px;
    height: 450px;
    animation: control 800ms cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes control {
    0% {
        width: 55px;
        height: 40px;
        transform: scaleY(1);
    }

    25% {
        width: 300px;
        height: 40px;
        transform: scaleY(1);
    }

    70% {
        transform: scaleY(1.1);
    }

    /*80% {*/
    /*    transform: scaleY(1);*/
    /*}*/

    /*90% {*/
    /*    transform: scaleY(1.1);*/

    /*}*/

    100% {
        width: 300px;
        height: 450px;
        transform: scaleY(1);
    }
}

@keyframes image_upload {
  0% {
    width: 94%;
    height: 90%;
    left: -100%;
    transform: scaleX(1);
  }

  25% {
    width: 94%;
    height: 90%;
    left: 3%;
    transform: scaleX(1);
  }

  70% {
    width: 94%;
    height: 90%;
    left: 3%;
    transform: scaleX(1.05);
  }

  /*80% {*/
  /*    transform: scaleY(1);*/
  /*}*/

  /*90% {*/
  /*    transform: scaleY(1.1);*/

  /*}*/

  100% {
    width: 94%;
    height: 90%;
    left: 3%;
    transform: scaleX(1);
  }
}

.global-image-upload-active.global-image-upload-active {
  width: 94%;
  height: 90%;
  left: 3%;
  animation: image_upload 500ms cubic-bezier(0.280, 0.840, 0.420, 1);
}

.global-image-upload {
  position: fixed;
  width: 94%;
  /*margin: auto;*/
  left: -100%;
  height: 90%;
  top: 5%;
  background: #f5f4ef;
  border: 5px dashed #ccc;
  z-index: 110;
  opacity: 0.6;
  transition: 200ms;
}

.progress.progress {
  height: 0.5rem;
  border-radius: 0.15rem;
}

.card-content-slim.card-content-slim {
  padding-top: 0.5rem;
}

.error-shake {
  -webkit-animation: kf_shake 0.4s 1 linear;
  -moz-animation: kf_shake 0.4s 1 linear;
  -o-animation: kf_shake 0.4s 1 linear;
}

@keyframes kf_shake {
  0% { -webkit-transform: translateY(15px); }
  20% { -webkit-transform: translateY(-15px); }
  40% { -webkit-transform: translateY(8px); }
  60% { -webkit-transform: translateY(-8px); }
  80% { -webkit-transform: translateY(4px); }
  100% { -webkit-transform: translateY(0px); }
}

.upload-overlay {
  opacity: 0;
  position: absolute;
  right:0;
  top:0;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(3px);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: .2s;
}

.upload-overlay:hover {
  opacity: 1;
  position: absolute;
  right:0;
  top:0;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(3px);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: .2s;
}




/*.mobile-nav {*/
/*  position: fixed;*/
/*  bottom: 0;*/
/*  z-index: 10;*/
/*  width: 100%;*/
/*  height: 40px;*/
/*}*/

/*.mobile-nav nav {*/
/*  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.25);*/
/*}*/

/*.nav-item {*/
/*  border-left: 1px solid #ccc;*/
/*  border-right: 1px solid #ccc;*/
/*  box-shadow: 1px 0 3px rgba(0,0,0,0.1), -1px 0 3px rgba(0,0,0,0.1);*/
/*}*/


.img-shadow:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 -60px 60px -60px rgba(0,0,0,.25);
  /*-moz-box-shadow: inset 0 0 8px rgba(0,0,0,.6);*/
  /*-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.6);*/
}

.palette-box {
  width: 1.85rem;
  height: .85rem;
  border-radius: 1.1rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8);
}