<div class="section">

    <div class="columns is-multiline">

        {{#if data}}

            {{#each data}}
                <div class="column is-6-tablet is-4-desktop is-3-widescreen">
                    <div class="card is-dark" style="height: 282px;">
                        <a href="/albums/{{attributes.url.0.slug}}">
                            <div class="card-image">
                                <figure class="image" style="overflow: hidden; height: 200px;">
                                    <img src="{{@root.meta.cloud.url}}{{attributes.representative_image.file_name}}" alt="Palette still generating">
                                </figure>
                            </div>
                        </a>
                        <div class="card-content">

                            {{#ifeq attributes.url.0.visibility "public"}}
                                <span title="Public" class="tag is-success"><i class="fa fa-lock-open"></i></span>
                            {{/ifeq}}

                            {{#ifeq attributes.url.0.visibility "private"}}
                                <span title="Private" class="tag is-warning"><i class="fa fa-lock"></i></span>
                            {{/ifeq}}

                            <span class="tag is-light">
                                <i class="fa fa-images"></i>
                            </span>

                        </div>

                    </div>
                </div>
            {{/each}}

        {{else}}

            Upload your first image now!

        {{/if}}

    </div>

    {{#if data}}
        {{#if show_pagination}}
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <a class="pagination-previous" data-page="{{meta.page.prev}}">Previous</a>
                <a class="pagination-next" data-page="{{meta.page.next}}">Next page</a>
                <ul class="pagination-list">
                    <li><a class="pagination-link {{#first_selected}}is-current{{/first_selected}}" data-page="{{meta.page.first}}" aria-label="Goto page {{meta.page.first}}">{{meta.page.first}}</a></li>
                    {{#show_lead}}
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {{/show_lead}}
                    {{#each middle_links}}
                        <li><a class="pagination-link {{#selected}}is-current{{/selected}}" data-page="{{page}}" aria-label="Goto page {{page}}">{{page}}</a></li>
                    {{/each}}
                    {{#show_tail}}
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {{/show_tail}}
                    <li><a class="pagination-link {{#last_selected}}is-current{{/last_selected}}" data-page="{{meta.page.last}}" aria-label="Goto page {{meta.page.last}}">{{meta.page.last}}</a></li>
                </ul>
            </nav>
        {{/if}}
    {{/if}}

</div>
