<h3 class="title is-3">
    API Keys
</h3>

<div class="columns">
    <div class="column is-8">
        <div class="field">
            <input type="text" data-js="client_name" id="client_name" class="input" placeholder="API for Cool Product Catalog Automation!">
        </div>

        <div class="field">
            <button class="button is-success" data-js="save_client">Create New Client</button>
        </div>

    </div>
</div>


<div class="columns">
    <div class="column is-8">
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>Key Name</th>
                    <th>Client ID</th>
                    <th>Client Secret</th>
                </tr>
            </thead>

            <tbody>

            {{#each clients}}
                <tr>
                    <td>
                        {{name}}
                    </td>

                    <td>
                        {{id}}
                    </td>
                    <td>
                        {{secret}}
                    </td>
                </tr>
            {{/each}}

            </tbody>

        </table>
    </div>
</div>
