<div class="control-panel {{#if active}}
{{#if rerender}}
    control-panel-active-rerender
{{else}}
    control-panel-active
{{/if}}

{{/if}}" data-js="control_panel" data-closable="closable">

    <span class="tag is-large is-info" data-closable="closable">
        <i class="fa fa-solar-panel"></i>

    </span>

    <h3 class="title is-4 has-text-white" data-closable="closable" style="float: right; padding-top: .4rem; padding-right: 0.75rem; margin-bottom: 0;">
        Control Panel
    </h3>

    <div class="is-clearfix"></div>

    <div class="columns is-gapless" style="height: 100%; background: #4da6e1;">

        <div class="column is-12">

            <div class="columns is-gapless" style="margin-bottom: 0;">
                <div class="column is-12 is-centered">
                    <div class="content" style="margin-top: 1rem;">

                        <div class="buttons has-addons">
                            <button data-js="change_layout" data-layout="grid" class="button {{#ifeq layout 'grid'}} is-primary {{/ifeq}}">
                                <i class="fa fa-columns"></i>
                            </button>
                            <button data-js="change_layout" data-layout="list" class="button {{#ifeq layout 'list'}} is-primary {{/ifeq}}">
                                <i class="fa fa-list"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>