<select id="existing_album_title" class="is-primary">
    <option value="">Choose an Album...</option>
    {{#each options}}
        <option data-id="{{id}}" value="{{value}}">{{label}}</option>
    {{/each}}
</select>