<div class="section">

    <div class="columns form-top-card section">

        <div class="column is-5">
            <section>

                <div class="columns">
                    <div class="column is-10 is-offset-1">
                        <h2 class="title is-5">Forgot Your Password?</h2>
                        <hr />
                        <p>No worries, it happens to the best of us!</p>

                        <div class="content">
                            <p>
                                Just enter your email into the form and we'll send you a password reset link as soon as we can!
                            </p>
                            <p>
                                <strong>Reset Links are only good for 3 hours!</strong> So if you dont receive your email please check
                                your spam folder or feel free to request another one reset link via this page.
                            </p>
                        </div>
                        <hr />
                        <a class="button is-fullwidth is-info" href="/login">
                            <strong>Login</strong>
                        </a>
                        <!--                        </div>-->

                    </div>
                </div>

            </section>
        </div>

        <div class="column is-7">
            <h1 class="title is-3 has-text-centered">Reset Your Password</h1>

            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <fieldset>

                    {{#unless redirect_to_login}}

                        {{#unless token}}
                            <div class="field">
                                <label class="label" for="email">Email</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input id="email" type="email" class="input {{#if response.errors.email}} is-danger {{/if}}" name="email" data-js="email" required autocomplete="email" autofocus {{#if email}} value="{{email}}" {{/if}}>
                                    <span class="icon is-small is-left">
                                      <i class="fas fa-envelope"></i>
                                    </span>
                                    {{#if response.errors.email}}
                                        <span class="icon is-small is-right">
                                          <i class="fas fa-exclamation-triangle is-danger"></i>
                                        </span>
                                    {{/if}}
                                </div>
                                {{#if response.errors.email}}
                                    <p class="help is-danger">{{response.errors.email}}</p>
                                {{/if}}

                            </div>
                        {{/unless}}

                        {{#if token}}
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control has-icons-left has-icons-right">

                                    <input id="password" type="password" class="input {{#if response.errors.password}} is-danger {{/if}}" name="password" required autocomplete="current-password" {{#if password}} value="{{password}}" {{/if}}>

                                    <span class="icon is-small is-left">
                                  <i class="fas fa-lock"></i>
                                </span>
                                    {{#if response.errors.password}}
                                        <span class="icon is-small is-right">
                                      <i class="fas fa-exclamation-triangle is-danger"></i>
                                    </span>
                                    {{/if}}
                                </div>

                                {{#if response.errors.password}}
                                    <p class="help is-danger">{{response.errors.password}}</p>
                                {{/if}}

                            </div>

                            <div class="field">
                                <label class="label">Password Confirmation</label>
                                <div class="control has-icons-left has-icons-right">

                                    <input id="password_confirmation" type="password" class="input {{#if response.errors.password_confirmation}} is-danger {{/if}}" name="password_confirmation" required autocomplete="current-password_confirmation" {{#if password_confirmation}} value="{{password_confirmation}}" {{/if}}>

                                    <span class="icon is-small is-left">
                                  <i class="fas fa-lock"></i>
                                </span>
                                    {{#if response.errors.password_confirmation}}
                                        <span class="icon is-small is-right">
                                      <i class="fas fa-exclamation-triangle is-danger"></i>
                                    </span>
                                    {{/if}}
                                </div>

                                {{#if response.errors.password_confirmation}}
                                    <p class="help is-danger">{{response.errors.password_confirmation}}</p>
                                {{/if}}

                            </div>
                        {{/if}}


                        <div class="field is-grouped section">
                            <button type="button" class="button is-primary is-fullwidth" id="reset" data-js="reset">Reset Password</button>
                        </div>

                    {{/unless}}

                        {{#ifeq status 202}}

                            {{#if redirect_to_login}}
                                <article class="message is-success">
                                    <div class="message-body">
                                        Password updated successfully, you should be able to <a href="/login">Login Now!</a>
                                    </div>
                                </article>
                            {{/if}}

                            {{#unless redirect_to_login}}
                                <article class="message is-success">
                                    <div class="message-body">
                                        We've sent a password reset link to the email provided!
                                    </div>
                                </article>
                            {{/unless}}
                        {{/ifeq}}

                    </fieldset>
                </div>
            </div>
        </div>


    </div>
</div>

