{{#if meta.title}}
<!--    <div class="columns is-centered">-->
<!--        <div class="column is-half">-->

<!--            <div class="content">-->
<!--                <h1 class="title is-1 has-text-centered">{{meta.title}}</h1>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
{{/if}}


{{#ifeq meta.layout 'list'}}

    {{#each images}}
        <div class="section" data-image_id="{{attributes.id}}">
            <div class="columns is-centered">
                <div class="column is-half">


                    {{#if attributes.has_palette}}

                    {{/if}}

                    <div class="card" data-tab="image_tab" data-js="tabs_parent">

                        <header class="card-header">

                            <h2 class="card-header-title">
                                {{#attributes.is_public}}
                                    <span title="Public Image" class="tag is-success"><i
                                        class="fa fa-lock-open"></i></span>
                                {{/attributes.is_public}}

                                {{^attributes.is_public}}
                                    <span title="Private Image" class="tag is-warning"><i
                                        class="fa fa-lock"></i></span>
                                {{/attributes.is_public}}

                                <!-- Lol sue me for this -->
                                &nbsp;
                                &nbsp;
                                <!-- End Liability Disclaimer -->


                                {{attributes.title}}
                            </h2>
                            <div class="tabs">
                                <ul style="border-style: none;">
                                    <li class="tab is-active" data-js="image_tab">
                                        <a>
                                        <span class="icon is-small"><i class="fa fa-image"
                                                                       aria-hidden="true"></i></span>
                                        </a>
                                    </li>
                                    <li class="tab" data-js="superpixel_tab">
                                        <a>
                                        <span class="icon is-small"><i class="fa fa-microchip"
                                                                       aria-hidden="true"></i></span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </header>


                        <div class="card-image">
                            <figure class="image image-preview" data-tab="image_tab">
                                <img title="{{attributes.title}}"
                                     data-src="{{@root.meta.cloud.url}}{{attributes.file_name}}"/>
                            </figure>

                            <figure data-tab="superpixel_tab" class="image image-preview is-hidden">
                                <img title="{{attributes.title}}"
                                     data-src="{{@root.meta.cloud.url}}superpixel/{{attributes.file_name}}"/>
                            </figure>

                        </div>

                        <div class="card-content">



                            {{#if attributes.description}}
                            <div class="columns">
                                <div class="column is-12">
                                    <p>
                                        {{attributes.description}}
                                    </p>
                                </div>
                            </div>
                            {{/if}}

                            <div class="columns is-vcentered">
                                <div class="column is-8">
                                    <div style="display: inline-flex; gap: .35rem;">
                                        {{#each attributes.hex_codes as |color i|}}
                                            <div class="palette-box" style="background: #{{.}}"></div>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="column is-4 has-text-right">

                                    <span class="tag is-secondary pointer"
                                          data-js="queue_image"
                                          data-confirmed="false"
                                          data-id="{{attributes.id}}"
                                          title="Refresh Image Palette">
                                        <i class="fa fa-sync"></i></span>
                                    </span>
{{!--                                     <button data-js="canva_button">Canva</button> --}}
                                    <span class="tag is-danger pointer" data-js="delete_image"
                                          data-confirmed="false" data-slug="{{attributes.url.0.slug}}"
                                          title="Delete Image">
                                    <i class="fa fa-trash"></i><span class="delete-confirm-message"
                                                                     data-js="confirm_message"></span>
                                    </span>
                                </div>

                            </div>

                            <div class="columns is-vcentered">

                                <div class="column is-12">
                                    {{#each attributes.color_tags}}
                                        <span class="tag"><i>#</i>&nbsp;{{name}}</span>
                                    {{/each}}
                                </div>

                            </div>

                            <div class="columns">
                                <div class="column is-12">
                                    <p class="content" style="font-size: .9rem;">
                                        Advanced
                                        <i class="fa fa-light fa-angle-down"></i>
                                    </p>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column is-8">
                                    <div>
                                        <canvas data-js="shade_tint_chart"></canvas>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

                <div class="image-preview is-primary"></div>
            </div>
        </div>
<!--        {{#if attributes.hex_codes}}-->
<!--            <div class="columns">-->
<!--                <div class="column is-8 is-offset-2">-->

<!--                    <div class="card">-->
<!--                        <div class="card-content">-->

<!--                            <div class="columns">-->

<!--                                <div class="column">-->

<!--                                    Tags :-->
<!--                                    {{#each attributes.color_tags}}-->

<!--                                        <span class="tag">{{name}}</span>-->

<!--                                    {{/each}}-->

<!--                                </div>-->

<!--                            </div>-->

<!--                            <div class="columns">-->

<!--                                <div class="column">-->

<!--                                    Primary Colors :-->
<!--                                    {{#each attributes.meta.primary_colors}}-->

<!--                                        <span class="tag" style="text-transform: capitalize;">{{.}}</span>-->

<!--                                    {{/each}}-->

<!--                                </div>-->

<!--                            </div>-->

<!--                            <div class="columns">-->
<!--                                <div class="column is-2">-->

<!--                                <div class="columns" style="padding-bottom: 10px;">-->
<!--                                    {{#each attributes.hex_codes as |color i|}}-->

<!--                                        <div class="column is-4 is-offset-1 hex-square"-->
<!--                                             style="padding: 0; background: #{{.}}; text-align: center;"-->
<!--                                             data-js="color_select" data-id="{{../id}}" data-color="{{.}}"> &nbsp;-->
<!--                                        </div>-->

<!--                                        {{#ifmod i 2}}-->
<!--                                        </div>-->
<!--                                        <div class="columns" style="padding-bottom: 10px;">-->

<!--                                        {{/ifmod}}-->

<!--                                    {{/each}}-->
<!--                                </div>-->

<!--                                </div>-->


<!--                                <div class="is-divider-vertical" data-content="INFO"></div>-->
<!--                                <div class="column is-9" data-js="color_info" data-id="{{id}}">-->
<!--                                    {{>color_info}}-->
<!--                                </div>-->


<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--            </div>-->
<!--        {{/if}}-->


    {{/each}}

{{else}}

    <div class="section">
        <div class="columns is-multiline">

            {{#each images}}

                <div class="column is-3">

                    <div class="card">

                        <div class="card-image">
                            <figure class="image image-preview">
                                <div data-tab="image_tab">
                                    <img title="{{attributes.title}}"
                                         data-src="{{@root.meta.cloud.url}}{{attributes.file_name}}"/>
                                </div>
                                <div data-tab="superpixel_tab" class="is-hidden">
                                    <img title="{{attributes.title}}"
                                         data-src="{{@root.meta.cloud.url}}{{attributes.file_name}}"/>
                                </div>
                            </figure>
                        </div>

                        <div class="card-content">


                            {{#if attributes.description}}

                                <div class="columns">
                                    <div class="column is-12">
                                        <p>
                                            {{attributes.description}}
                                        </p>
                                    </div>
                                </div>
                            {{/if}}


                            <div class="columns is-centered hex-container tabs" data-js="palette" data-id="{{id}}">
                                {{>palette}}
                            </div>
                            <p class="load-message"></p>

                            <div class="columns">
                                <div class="column is-8">
                                    {{#attributes.is_public}}
                                        <span title="Public Image" class="tag is-success"><i
                                            class="fa fa-lock-open"></i></span>
                                    {{/attributes.is_public}}

                                    {{^attributes.is_public}}
                                        <span title="Private Image" class="tag is-warning"><i
                                            class="fa fa-lock"></i></span>
                                    {{/attributes.is_public}}

                                    <a href="/images/{{attributes.url.0.slug}}/studio" class="link is-secondary">Edit in
                                        Studio (Beta)</a>

                                </div>

                                {{#if attributes.user_owned}}
                                    <div class="column is-4 has-text-right">
                                        <span class="tag is-secondary pointer" data-js="queue_image"
                                              data-confirmed="false" data-id="{{attributes.id}}"
                                              title="Refresh Image Palette">
                                        <i class="fa fa-sync"></i></span>
                                        </span>
{{!--                                         <button data-js="canva_button">Canva</button> --}}
                                        <span class="tag is-danger pointer" data-js="delete_image"
                                              data-confirmed="false" data-slug="{{attributes.url.0.slug}}"
                                              title="Delete Image">
                                            <i class="fa fa-trash"></i><span class="delete-confirm-message"
                                                                             data-js="confirm_message"></span>
                                        </span>
                                    </div>
                                {{/if}}
                            </div>

                        </div>
                    </div>

                </div>

            {{/each}}

        </div>
    </div>


{{/ifeq}}


