<div class="section">

    <div class="columns form-top-card section">

        <div class="column is-5">
            <section>

                <div class="columns">
                    <div class="column is-10 is-offset-1">
                        <h2 class="title is-5">Don't have an account?</h2>
                        <hr />
                        <p>Signing up grants access to features such as : </p>

                        <div class="content">
                            <ul >
                                <li>Upload and extract the color palette of an unlimited number of images</li>
                                <li>Modify your image upload parameters</li>
                                <li>Gain access to our state-of-the-art image analysis api</li>
                                <li>Customize your image search parameters</li>
                                <li>And more!</li>
                            </ul>
                        </div>
                        <hr />
                        <!--                        <div class="section is-centered">-->
                        <a class="button is-fullwidth is-info" href="/register">
                            <strong>Register</strong>
                        </a>
                        <!--                        </div>-->

                    </div>
                </div>

            </section>
        </div>

        <div class="column is-7">
<!--            <h1 class="title is-3 has-text-centered">Sign In</h1>-->

            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <fieldset>

                        <div class="field">
                            <label class="label" for="email">Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input id="email" type="email" class="input {{#if response.errors.email}} is-danger {{/if}}" name="email" data-js="email" required autocomplete="email" autofocus {{#if email}} value="{{email}}" {{/if}}>
                                <span class="icon is-small is-left">
                                  <i class="fas fa-envelope"></i>
                                </span>
                                {{#if response.errors.email}}
                                    <span class="icon is-small is-right">
                                      <i class="fas fa-exclamation-triangle is-danger"></i>
                                    </span>
                                {{/if}}
                            </div>
                            {{#if response.errors.email}}
                                <p class="help is-danger">{{response.errors.email}}</p>
                            {{/if}}

                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left has-icons-right">

                                <input id="password" type="password" class="input {{#if response.errors.password}} is-danger {{/if}}" name="password" data-js="password" required autocomplete="current-password" {{#if password}} value="{{password}}" {{/if}}>

                                <span class="icon is-small is-left">
                                  <i class="fas fa-lock"></i>
                                </span>
                                {{#if response.errors.password}}
                                    <span class="icon is-small is-right">
                                      <i class="fas fa-exclamation-triangle is-danger"></i>
                                    </span>
                                {{/if}}
                            </div>

                            {{#if response.errors.password}}
                                <p class="help is-danger">{{response.errors.password}}</p>
                            {{/if}}

                            <p class="help">
                                <a href="/forgot" class="link">Forgot Password?</a>
                            </p>

                        </div>



                        <div class="field is-grouped section">
                            <button type="button" class="button is-primary is-fullwidth" id="login" data-js="login">Login</button>
                        </div>


                        {{#ifeq status 401}}
                            <article class="message is-danger">
                                <div class="message-body">

                                        Email/Password Incorrect
                                </div>
                            </article>
                        {{/ifeq}}

                    </fieldset>
                </div>
            </div>
        </div>


    </div>
</div>

