{{#if is_mobile}}

    {{#if is_user_logged_in}}

        {{#if is_upload_page}}
            123
        {{else}}
            <a href="/upload" class="button plus-button fancy-bg">
                <i class="fa fa-plus"></i> <span>Upload</span>
            </a>
        {{/if}}

    {{else}}
        <a href="/register" class="button plus-button fancy-bg">
            <i class="fa fa-plus"></i> <span>Upload</span>
        </a>
    {{/if}}



{{/if}}

