{{#logged_in}}
    <a class="navbar-item" href="/profile">
        My Profile
    </a>

    <a class="button is-primary" href="/upload">
        <strong><i class="fa fa-plus-square"></i> New Upload</strong>
    </a>
{{/logged_in}}


{{^logged_in}}
    <a class="button is-primary" href="/login">
        <strong>Login</strong>
    </a>

    <a class="button is-secondary" href="/register">
        <strong>Register</strong>
    </a>

{{/logged_in}}


