<div class="filter-container" style="overflow-y: auto; background: #FFF; height: 50%; overflow-x:hidden; position: fixed;left: 0;top: 50%;width: 100%;z-index: 99; box-shadow: 0px -30px 50px rgb(0 0 0 / 30%);">


    <div class="columns is-gapless is-mobile is-vcentered" style="margin-bottom: 0; height: 42px; border-bottom: 1px solid #c6c6c6;">

        <div class="column is-3 is-centered">
            <button class="button is-small" data-js="clear_all">Clear All</button>
        </div>

        <div class="column is-6 is-centered">
            <h2 class="title is-4" style="background: #FFF;">Filters</h2>
        </div>

        <div class="column is-3 is-centered">

            <button class="button is-small is-success" data-js="apply_filters">Apply</button>
        </div>

    </div>

    <div class="columns" style="overflow-y:auto;">
        <div class="column is-12">

            <section class="accordions">
                <article class="accordion {{#if colors.tab_active}} is-active {{/if}}">
                    <div class="accordion-header toggle" data-ftype="{{colors.id}}" style="background: #fff; box-shadow: 0 6px 10px rgb(0 0 0 / 20%);">
                        <h2 class="title is-5 has-text-underlined" style="margin-bottom: 0;">
                            {{colors.label}}
                            {{#noteq 0 colors.count}}
                                -
                                <span class="tag">
                                        {{colors.count}} selected
                                    </span>

                                <span class="tag is-danger" data-js="clear_colors">
                                        <div class="columns is-mobile is-gapless">

                                            <div class="column is-10">
                                                Clear
                                            </div>

                                            <div class="column is-2">
                                                <span><i class="fa fa-times"></i></span>
                                            </div>

                                        </div>
                                    </span>
                            {{/noteq}}

                        </h2>

                        {{#if colors.tab_active}}

                            <i class="fa fa-chevron-up" style="color: #000;"></i>

                        {{else}}

                            <i class="fa fa-chevron-down" style="color: #000;"></i>

                        {{/if}}

                    </div>
                    <div class="accordion-body">

                        <div class="columns is-mobile is-gapless">
                        <div class="column is-6">
                            {{#each colors.values}}


                                <div style="margin: .1rem;" class="columns is-variable is-1 is-mobile is-vcentered">
                                    <div class="column is-2">
                                        <label class="checkbox" for="{{../colors.id}}_{{@key}}">
                                                        <span style="background: {{@key}};" class="checkbox__input">
                                                <input type="checkbox"
                                                       data-js="filter_colors"
                                                       data-ftype="{{../colors.id}}"
                                                       id="{{../colors.id}}_{{@key}}"
                                                       name="{{../colors.id}}_{{@key}}"
                                                       value="{{@key}}"
                                                       class="big-checkbox"
                                                       {{#if selected}}checked="checked"{{/if}}
                                                >
                                                            <span class="checkbox-overlay"></span>
                                                <span class="checkbox__control">
                                                    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                                                        <path fill='none' stroke='white' stroke-width='3' d='M1.73 12.91l6.37 6.37L22.79 4.59' />
                                                    </svg>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="column is-10">
                                        <label class="checkbox" for="{{../colors.id}}_{{@key}}">
                                            <span class="radio__label is-capitalized" >{{@key}}</span>
                                        </label>
                                    </div>
                                </div>

                                {{#ifeq @key "green"}}
                                </div>
                                <div class="column is-6">
                                {{/ifeq}}

                            {{/each}}
                        </div>
                        </div>
                    </div>
                </article>
<!--                <article class="accordion {{#if palette.tab_active}} is-active {{/if}}">-->

<!--                    <div class="accordion-header toggle" data-ftype="{{palette.id}}" style="background: #fff; box-shadow: 0 6px 10px rgb(0 0 0 / 20%);">-->
<!--                        <h2 class="title is-5 has-text-underlined" style="margin-bottom: 0;">-->
<!--                            {{palette.label}}-->
<!--                            {{#noteq 0 palette.count}}-->
<!--                                --->
<!--                                <span class="tag">-->
<!--                                        {{palette.count}} selected-->
<!--                                    </span>-->

<!--                                <span class="tag is-danger" data-js="clear_palette">-->
<!--                                        <div class="columns is-mobile is-gapless">-->

<!--                                            <div class="column is-10">-->
<!--                                                Clear-->
<!--                                            </div>-->

<!--                                            <div class="column is-2">-->
<!--                                                <span><i class="fa fa-times"></i></span>-->
<!--                                            </div>-->

<!--                                        </div>-->
<!--                                    </span>-->
<!--                            {{/noteq}}-->

<!--                        </h2>-->
<!--                        {{#if palette.tab_active}}-->

<!--                            <i class="fa fa-chevron-up" style="color: #000;"></i>-->

<!--                        {{else}}-->

<!--                            <i class="fa fa-chevron-down" style="color: #000;"></i>-->

<!--                        {{/if}}-->
<!--                    </div>-->

<!--                    <div class="accordion-body">-->
<!--                        <div style="margin: .1rem;" class="columns is-variable is-1">-->
<!--                            <div class="column is-12">-->
<!--                                <div data-js="color_picker_list">-->

<!--                                    {{#each palette.values}}-->
<!--                                        {{>color_picker parent=..}}-->
<!--                                    {{/each}}-->
<!--                                </div>-->

<!--                                <div data-js="add_palette_color" class="has-text-centered" style="border: 2px dashed #ccc; cursor: pointer;">-->
<!--                                    <i class="fa fa-plus-square fa-lg"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </article>-->
            </section>

        </div>

    </div>
</div>