<!--<div class="toast-message hide"></div>-->
{{#each attributes.hex_codes as |color i|}}
    <div class="column is-1 hex-box copy-color"
         style="padding: 0; background: #{{.}}; text-align: center;">
        <div style="padding: 7px;" class="hex-color text-center"></div>
    </div>
{{/each}}
