<div class="columns is-multiline is-variable is-1">

    {{#if data}}

        {{#each data}}
            <div class="column is-{{attributes.meta.size_class}}" style="padding-bottom: 0">
                <div class="card" style="height: 238px;">
                    <a href="/images/{{attributes.url.0.slug}}">
                        <div class="card-image">
                            <figure class="image" style="overflow: hidden; height: 200px;">
                                <img data-src="{{@root.meta.cloud.url}}thumbs/{{attributes.file_name}}" alt="Palette still generating">
                            </figure>
                        </div>
                    </a>
                    <div class="card-content" style="padding: 0.5rem 1rem; opacity: 0.8; overflow:hidden;">
                        <div class="columns is-centered">
                            <div class="column is-12">
                                <div style="display: inline-flex; gap: .35rem;">
                                    {{#each attributes.hex_codes as |color i|}}
                                        <div class="palette-box" style="background: #{{.}}"></div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>

{{!--                         {{#attributes.is_public}} --}}
{{!--                             <span title="Public" class="tag is-success"><i class="fa fa-lock-open"></i></span> --}}
{{!--                         {{/attributes.is_public}} --}}

{{!--                         {{^attributes.is_public}} --}}
{{!--                             <span title="Private" class="tag is-danger"><i class="fa fa-lock"></i></span> --}}
{{!--                         {{/attributes.is_public}} --}}

{{!--                         {{#each attributes.albums}} --}}
{{!--                             <span class="tag is-light"> --}}
{{!--                                 <a href="{{link}}"><i class="fa fa-images"></i> Album</a> --}}
{{!--                             </span> --}}
{{!--                         {{/each}} --}}

                    </div>

                </div>
            </div>
        {{/each}}

    {{else}}



    {{/if}}

</div>