<div data-js="palette_container" class="columns is-mobile is-vcentered is-centered" style="margin: .1rem;">

    <div data-index="{{@key}}"  data-js="delete_palette_row" class="column is-2 is-centered" style="padding: 0.25rem;">

        {{#noteq @key 0}}
            <span  class="tag is-danger" style="opacity: 0.7">
                <i class="fa fa-times"></i>
            </span>
        {{/noteq}}



    </div>

    <div class="column is-8 is-centered" style="padding: 0.25rem;">
        <input type="color" data-js="color_picker" class="color-picker" data-id="{{@key}}" value="#{{color}}" data-ftype="{{parent.palette.id}}">
    </div>

    <div class="column is-2 is-centered" style="padding: 0.25rem;">
        <input class="big-checkbox"
               data-js="filter_palette"
               type="checkbox"
               data-ftype="{{parent.palette.id}}"
               id="{{parent.palette.id}}_{{@key}}"
               name="{{parent.palette.id}}_{{@key}}"
               data-color=""
               value="{{@key}}"
               {{#if selected}}checked="checked"{{/if}}
        >
    </div>
</div>