<div class="columns">
    <div class="column is-2">
        <div class="hex-square" style="padding: 0; background: #{{attributes.active_color}}; text-align: center;">&nbsp; </div>
    </div>

    <div class="column is-10">
        <h3 class="title is-4">Hex : #{{attributes.active_color}}</h3>
        <h3 class="subtitle is-6">RGB : {{#toRGB attributes.active_color}}{{/toRGB}}</h3>
    </div>
</div>
<div class="is-divider"></div>
<div class="columns">

    {{#each attributes.active_shades}}
        <div class="column is-2">
            <div class="hex-square" style="padding: 0; background: #{{.}}; text-align: center;" data-js="color_variant" data-id="{{../id}}" data-color="{{.}}">&nbsp; </div>
        </div>
    {{/each}}

    {{#each attributes.active_tints}}
        <div class="column is-2">
            <div class="hex-square" style="padding: 0; background: #{{.}}; text-align: center;" data-js="color_variant" data-id="{{../id}}" data-color="{{.}}">&nbsp; </div>
        </div>
    {{/each}}

</div>
