<div class="section profile-container">

    <div class="columns is-vcentered">
        <div class="column is-2">
            <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
        <div class="column is-8">
            <h1 class="title is-2">Hello {{name}}; Stay Frosty</h1>
        </div>
        <div class="column is-2">
            <button class="button is-warning" id="logout" >
                Logout
            </button>
        </div>
    </div>

    <div class="columns is-gapless" data-js="tabs_parent">
        <div class="column is-8">
            <div class="tabs">
                <ul>
                    <li class="tab is-active" data-js="image_tab" data-callable="loadAlbums">
                        <a>
                            <span class="icon is-small"><i class="fa fa-images" aria-hidden="true"></i></span>
                            <span>Albums</span>
                        </a>
                    </li>
                    <li class="tab" data-js="image_tab" data-callable="loadImages">
                        <a>
                            <span class="icon is-small"><i class="fa fa-image" aria-hidden="true"></i></span>
                            <span>Images</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="column is-4">
            <div class="tabs is-right">
                <ul>

                    <li class="tab" data-js="image_tab" data-callable="renderSettings">
                        <a>
                            <span class="icon is-small"><i class="fa fa-cog" aria-hidden="true"></i></span>
                            <span>Settings</span>
                        </a>
                    </li>

                    <li class="tab" data-js="image_tab" data-callable="renderApiKeys">
                        <a>
                            <span class="icon is-small"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <span>API Keys</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>

    <div data-js="profile_section">
        <i class="fas fa-circle-notch fa-spin"></i>
    </div>

<!--    <h1 class="title is-1">My Profile</h1>-->
<!--    <div class="columns is-centered">-->
<!--        <div class="column is-3">-->

<!--            {{#unless edit}}-->
<!--                <h3 class="title is-5">{{name}}</h3>-->
<!--            {{/unless}}-->

<!--            {{#if edit}}-->
<!--                <label for="name">Name:</label>-->
<!--                <input type="text" class="input" id="name" name="name" placeholder="Name" value="{{name}}" />-->
<!--            {{/if}}-->

<!--        </div>-->

<!--        <div class="column is-6">-->


<!--                <div class="columns">-->
<!--                    <div class="column is-12">-->
<!--                        {{#unless edit}}-->

<!--                        {{/unless}}-->

<!--                        {{#if edit}}-->
<!--                            <button class="button is-success" data-js="save_profile">Save</button>-->
<!--                            <button class="button is-danger" data-js="cancel_edit_profile">Cancel</button>-->
<!--                        {{/if}}-->

<!--                    </div>-->
<!--                </div>-->



<!--            <p>-->
<!--                Hello there-->

<!--                General Kenobi-->
<!--            </p>-->

<!--        </div>-->
<!--    </div>-->
</div>
