<h3 class="title is-3">
    Account Settings
</h3>

<div class="columns">
    <div class="column is-8">
        <label for="name">Name:</label>
        <input type="text" class="input" id="name" name="name" placeholder="Name" value="{{user.name}}" />
    </div>
</div>

<div class="columns">
    <div class="column-3">
        <button class="button is-success" data-js="save_profile">Save</button>
    </div>
</div>
