<div class="section">

    <div class="columns form-top-card section">

        <div class="column is-5">
            <section>

                <div class="columns">
                    <div class="column is-10 is-offset-1">
                        <h2 class="title is-5">Welcome to Photosynthernet</h2>
                        <hr />
                        <p>Signing up grants access to features such as : </p>

                        <div class="content">
                            <ul >
                                <li>Upload and extract the color palette of an unlimited number of images</li>
                                <li>Modify your image upload parameters</li>
                                <li>Gain access to our state-of-the-art image analysis api</li>
                                <li>Customize your image search parameters</li>
                                <li>And more!</li>
                            </ul>
                        </div>
                        <hr />
<!--                        <div class="section is-centered">-->
                            <a class="button is-fullwidth is-info" href="/login">
                                <strong>Login</strong>
                            </a>
<!--                        </div>-->

                    </div>
                </div>

            </section>
        </div>

        <div class="column is-7">
            <h1 class="title is-2 has-text-centered">Sign Up for an Account</h1>

            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <fieldset>

                        <div class="field">
                            <label class="label" for="email">Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input id="email" type="email" class="input {{#if response.errors.email}} is-danger {{/if}}" name="email" data-js="email" required autocomplete="email" autofocus {{#if email}} value="{{email}}" {{/if}}>
                                <span class="icon is-small is-left">
                                  <i class="fas fa-envelope"></i>
                                </span>
                                {{#if response.errors.email}}
                                    <span class="icon is-small is-right">
                                      <i class="fas fa-exclamation-triangle is-danger"></i>
                                    </span>
                                {{/if}}
                            </div>
                            {{#if response.errors.email}}
                                <p class="help is-danger">{{response.errors.email}}</p>
                            {{/if}}

                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left has-icons-right">

                                <input id="password" type="password" class="input {{#if response.errors.password}} is-danger {{/if}}" name="password" required autocomplete="current-password" {{#if password}} value="{{password}}" {{/if}}>

                                <span class="icon is-small is-left">
                                  <i class="fas fa-lock"></i>
                                </span>
                                {{#if response.errors.password}}
                                    <span class="icon is-small is-right">
                                      <i class="fas fa-exclamation-triangle is-danger"></i>
                                    </span>
                                {{/if}}
                            </div>

                            {{#if response.errors.password}}
                                <p class="help is-danger">{{response.errors.password}}</p>
                            {{/if}}

                        </div>

                        <div class="field">
                            <label class="label">Password Confirmation</label>
                            <div class="control has-icons-left has-icons-right">

                                <input id="password_confirmation" type="password" class="input {{#if response.errors.password_confirmation}} is-danger {{/if}}" name="password_confirmation" required autocomplete="current-password_confirmation" {{#if password_confirmation}} value="{{password_confirmation}}" {{/if}}>

                                <span class="icon is-small is-left">
                                  <i class="fas fa-lock"></i>
                                </span>
                                {{#if response.errors.password_confirmation}}
                                    <span class="icon is-small is-right">
                                      <i class="fas fa-exclamation-triangle is-danger"></i>
                                    </span>
                                {{/if}}
                            </div>

                            {{#if response.errors.password_confirmation}}
                                <p class="help is-danger">{{response.errors.password_confirmation}}</p>
                            {{/if}}

                        </div>

                        <div class="field">

                            <label class="checkbox" for="terms">
                                <input type="checkbox" name="terms" id="terms" {{#if terms}} checked {{/if}}>
                                I agree to the <a href="/terms" target="_blank" >terms and conditions    <i class="fa fa-external-link-alt"></i></a>
                            </label>

                            {{#if response.errors.terms}}
                                <p class="help is-danger">{{response.errors.terms}}</p>
                            {{/if}}

                        </div>


                        <div class="field is-grouped section">
                             <button type="button" class="button is-primary is-fullwidth" id="register" data-js="register">Register</button>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>


    </div>
</div>
