<div class="section">


    <div class="columns is-gapless">
        <div class="column is-12-mobile">
            <div class="field">
                <p class="control is-expanded has-icons-right">
                    <input class="input is-large" type="search" value="{{meta.query}}" placeholder="Search... Red Mountain... Blue Ocean..." name="main_search" onfocus="this.value = this.value;"/>
                    <span class="icon is-small is-right"><i class="fas fa-search"></i></span>
                </p>
            </div>
        </div>
    </div>

    <div class="columns is-gapless">

        <div class="column is-12 has-text-right">

                                                <div style="display: inline-flex; gap: .35rem; vertical-align: middle; height: 1px; cursor: pointer;">
                                                        <div class="palette-box" style="background: #dec3ad"></div>
                                                        <div class="palette-box" style="background: #76aae4"></div>
                                                        <div class="palette-box" style="background: #909352"></div>
                                                        <div class="palette-box" style="background: #09090c"></div>
                                                        <div class="palette-box" style="background: #606865"></div>
                                                        <div class="palette-box" style="background: #343b14"></div>
                                                        <i style="margin-left: 0.5rem;" class="fa fa-filter"></i>
                                                </div>



        </div>

    </div>

    <div class="columns is-multiline">

        {{>image_list}}

    </div>


    <div data-js="filter_container" style="{{#if is_filter_visible}}{{else}}display: none;{{/if}}">



    </div>

</div>