<div class="columns is-gapless">

    <div class="column is-9">

        <div class="columns is-vcentered" style="height:95vh;">
            <div class="column is-10 is-offset-1">
                <div class="canvas-container" data-js="canvas_container">
                    <canvas id="canvas" style="width: 100%; background: #fffff8;"></canvas>
                </div>
            </div>
        </div>


    </div>

    <div class="column is-3" style="background: #303030;color: #fffff8;">

        <div class="columns has-text-centered">
            <div class="column is-12">

                <h3 class="title is-3" style="color: #fffff8;">Controls</h3>

                <div class="columns is-vcentered is-gapless">
                    <div class="column is-6">
                        <label for="color_grade_preset">Preset</label>
                    </div>
                    <div class="column is-6">
                        <div class="select is-dark">
                            <select style="background: #2c2c2c;" name="color_grade_preset" data-js="color_grade_preset">
                                <option value="">Select a Preset</option>
                                <option value="dusk">Dusk</option>
                                <option value="solar">Solar</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="columns is-vcentered is-gapless">
                    <div class="column is-6">
                        <label for="color_channel_select">Color Channel</label>
                    </div>
                    <div class="column is-6">
                        <div class="select is-dark">
                            <select style="background: #2c2c2c;" name="color_channel_select" data-js="color_channel_select">
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="blue">Blue</option>
                                <!--                                <option>Luminance</option>-->
                            </select>
                        </div>
                    </div>
                </div>


                <div id="sketch_container" style="position: relative; width: 250px; height: 250px;left: 0;right: 0;margin: auto;">
                    <canvas style="position: absolute; left:0; z-index: 10;" id="red_curve" data-js="red_curve" width="250" height="250"></canvas>
                    <canvas style="position: absolute; left:0;" id="green_curve" data-js="green_curve" width="250" height="250"></canvas>
                    <canvas style="position: absolute; left:0;" id="blue_curve" data-js="blue_curve" width="250" height="250"></canvas>
                </div>

                <div class="columns is-vcentered" style="margin-top: 1vh;">
                    <div class="column is-10 is-offset-1">
                        <textarea class="textarea" name="curve_state_text" data-js="curve_state_text"></textarea>
                    </div>
                </div>

                <div class="columns is-vcentered" style="margin-top: 1vh;">
                    <div class="column is-10 is-offset-1">
                        <button data-js="submit_preset" class="button is-primary is-fullwidth">
                            Submit
                        </button>
                    </div>
                </div>

<!--                <input data-js="slider" id="slider-0" class="slider is-fullwidth" step="1" min="0" max="10" value="5" type="range" style="width:100%;">-->
<!--                <input data-js="slider" id="slider-1" class="slider is-fullwidth" step="1" min="0" max="10" value="5" type="range" style="width:100%;">-->
<!--                <input data-js="slider" id="slider-2" class="slider is-fullwidth" step="1" min="0" max="10" value="5" type="range" style="width:100%;">-->

            </div>
        </div>


    </div>

</div>