<div class="container">
    <div class="section">


        <h1 class="title has-text-centered	 is-1">Upload a File</h1>

        <div class="columns">
            <div class="column is-9">
                {{#each images}}
                    <div data-image="{{name}}" data-js="image_upload_card" data-image-id="{{@key}}" class="columns is-centered">
                        <div class="column is-12">

                            <div class="card invisible">
                                <div class="card-image">
                                    <figure class="image image-preview">
                                        <div class="upload-overlay">

                                            <button data-js="remove_from_upload" class="button is-danger"
                                                    style="margin: auto;
                                                           right: 2rem;
                                                           top: 2rem;
                                                           position: absolute;">

                                                <span style="margin-right: 1.25rem">Remove From Album</span>
                                                <i class="fa fa-times"></i>

                                            </button>

                                        </div>

                                        <img src="{{blob}}"/>
                                    </figure>
                                </div>
                                <div class="card-content">

                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input type="text" data-js="image_title_{{name}}" id="image_title"
                                                   class="input" placeholder="Some description about the image.."
                                                   value="{{name}}">
                                        </div>
                                        <div class="control">

                                        </div>
                                    </div>

                                    <textarea rows="2" data-js="image_desc_{{name}}" id="image_description"
                                              class="textarea"
                                              placeholder="Some description about the image.."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="column is-3">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Settings
                        </p>
                    </header>
                    <div class="card-content card-content-slim">
                        <div data-js="progress_bar" style="min-height: 0.5rem; margin-bottom: 0.5rem;"></div>

                        <label class="label" for="visibility">Visibility</label>
                        <div class="field select is-fullwidth">
                            <select id="visibility" name="visibility" class="is-primary" data-js="visibility">
                                <option value="private">Private</option>
                                <option value="public">Public</option>
                            </select>
                        </div>

                        {{#if is_album}}
                            <label class="label" for="existing_album_title">Add to Existing Album</label>
                            <div class="field select is-fullwidth" data-js="existing_album_list">
                                <select id="existing_album_title" class="is-primary">
                                    <option value="">Choose an Album...</option>
                                </select>
                            </div>


                            <div data-js="album_container">

                                <div class="is-divider" data-content="OR"></div>

                                <label class="label" for="visibility">Album Title</label>
                                <div class="field">
                                    <input type="text" id="album_title" name="album_title" class="input"/>
                                </div>

                                <label class="label" for="visibility">Album Description</label>
                                <div class="field">
                                    <textarea id="album_description" name="album_description"
                                              class="textarea"></textarea>
                                </div>
                            </div>
                        {{/if}}








                        <!--                        <label class="label" for="n_segments">Superpixel Segments</label>-->
                        <!--                        <div class="field">-->
                        <!--                            <div class="columns is-vcentered">-->
                        <!--                                <div class="column is-10">-->
                        <!--                                    <input id="n_segments" name="n_segments" class="slider has-output is-fullwidth" min="20" max="2000" value="1000" step="20" type="range">-->
                        <!--                                </div>-->
                        <!--                                <div class="column is-2">-->
                        <!--                                    <output class="tag" for="n_segments">2000</output>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <div class="columns">
                            <div class="column is-12">
                                <div class="field" style="margin-top: .5rem;">
                                    <button data-js="upload" class="button is-primary is-fullwidth" id="upload">
                                        Upload
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>