<div class="container">
    <div class="section">
        <h1 class="title has-text-centered	 is-1">Upload a File</h1>
        <div class="columns first-image is-centered">

            <div class="column is-6 is-centered">
                <div class="file is-boxed">
                    <label class="file-label">
                        <input class="file-input" type="file" name="image" multiple accept="image/jpeg,image/png">
                        <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
                    </label>
                </div>
            </div>


        </div>

    </div>

</div>