<div class="section">

{{#if is_user_logged_in}}

{{else}}
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <article>

                <div class="content has-text-centered">
                    <h2 class="title is-2">
                        An Image Host With <strong class="has-text-weight-bold" style="text-decoration: underline;">Pro Features</strong>
                    </h2>
                    <h3 class="subtitle is-5">
                        Image Analysis. Public API Access. Palette Generation. Robust Search.
                    </h3>
                    <p>
                        <a href="/register" class="button is-info"><span class="cta-text">Register to Upload</span></a>
                    </p>

                </div>

            </article>
        </div>
    </div>
{{/if}}

{{>image_list}}

{{#if data}}
    {{#if show_pagination}}
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous" data-page="{{meta.page.prev}}">Previous</a>
            <a class="pagination-next" data-page="{{meta.page.next}}">Next page</a>
            <ul class="pagination-list">
                <li><a class="pagination-link {{#first_selected}}is-current{{/first_selected}}" data-page="{{meta.page.first}}" aria-label="Goto page {{meta.page.first}}">{{meta.page.first}}</a></li>
                {{#show_lead}}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                {{/show_lead}}
                {{#each middle_links}}
                    <li><a class="pagination-link {{#selected}}is-current{{/selected}}" data-page="{{page}}" aria-label="Goto page {{page}}">{{page}}</a></li>
                {{/each}}
                {{#show_tail}}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                {{/show_tail}}
                <li><a class="pagination-link {{#last_selected}}is-current{{/last_selected}}" data-page="{{meta.page.last}}" aria-label="Goto page {{meta.page.last}}">{{meta.page.last}}</a></li>
            </ul>
        </nav>
    {{/if}}
{{/if}}

</div>
